.responsive-footer {
    background-color: #3a3a3a;
    color: #ffffff;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    
}

.social_logos{
    width: 264px;
    padding-left: 33px;
    object-fit: contain;
    display: flex;                
    justify-content: center;     
    align-items: center;          
}

.logo_sub{
    display: flex;                
    justify-content: center;     
    align-items: center;   
    margin-right: 55px;
}

.social-logo {
    height: 80px; 
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 55px;
    padding-right: 55PX;
    
}

.contact_footer{
    font-size: small;
}

.footer-content h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #ffffff;
}

.footer-content p {
    font-size: 0.7em;
    line-height: 1.5;
    margin-bottom: 15px;
    color: rgb(212, 209, 209)
    
}

.chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
   
  }

  .chat-message {
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    font-size: 14px;
    color: #000;
  }

  

  .chat-icon {
    width: 50px;
    height: 50px;
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .chat-icon img {
    width: 75px;
  }

  .chat-container:hover {
    transform: scale(1.05);
}

.chat-container:active {
    transform: scale(1.05);
}



@media screen and (max-width: 768px) {
    .footer-content {
        padding: 0 15px;
    }

    .footer-content h3 {
        font-size: 1.1em;
    }

    .footer-content p {
        font-size: 0.8em;
    }
}